.headerDiv {
  margin: 0;
  width: 100%;
  background-color: black;
  height: 90px;
  color: white;
  display: flex;
  justify-content: end;
  float: right;
  padding-right: 29px;
}
p {
  margin: 0;
  align-self: center;
}
.sideNavDesign {
  width: 20%;
  background-color: black;
  height: calc(100vh - 90px);
}
.linkDesign {
  text-decoration: none;
  color: white;
}
.overallBodyDiv {
  width: 100%;
  display: flex;
}
.outletDesign {
  width: 80%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
}
